#resp-table {
    width: 50%;
    display: table;
    }
   
 #resp-table-header{
        display: table-header-group;
        background-color:rgb(136, 183, 243);
        font-weight: bold;
        font-size: 25px;
     }
        .table-header-cell{
            display: table-cell;
            padding: 10px;
            text-align: justify;
            border-bottom: 1px solid black;
            }
            #resp-table-body{
                display: table-row-group;
                background-color:azure;
                }
                .resp-table-row{
                    display: table-row;
                    }
                    .table-body-cell{
                        display: table-cell;
                        }
                        
